*{
    border: none;
}
footer,div,body{
margin: 0;
padding:0;
}

body{
    font-family: "Playfair Display", serif;
}


a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

input[type=text],input[type=search],input[type=url],input[type=email],textarea{
    border: none;
    border-bottom: 1px grey solid;
}

input[type=submit],input[type=button]{
    font-family: sans;
    background: none;
    border: 1px solid black;
    cursor: pointer;
}

textarea{
    margin-top: 0.5em;
    border-left: 1px grey solid;
}

input,textarea,select,img{
    max-width : 100%;
}


h1,h2,h3{
    font-family: Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,"Helvetica Inserat","Bitstream Vera Sans Bold","Arial Black","Roboto-Bold","sans serif";
    font-weight: 500;
    color: #C83737;
}
.h1-alone{
    padding:  1em 0;
}
h2{
    padding: 0.3em 0 0.3em;
}


/* header */

.page-header{
    display: block;
    padding-top: 5px;
}

#logo{
    display: block;
    margin: 0 auto;
    max-width: 45.4545%;
}

/* lead-in*/
#leadin-container{
    margin: -7px 14.28% 0;
}

#leadin-container .triangle{
    margin: -1px auto;
    padding: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent grey transparent;
}

#leadin-container .content{
    display: table;
    margin: 0 auto;
    border-right: 1px solid gray;
}

#leadin-container .top-border{
    float: right;
    width: 50%;
    height: 1px;
    border-top: 1px solid gray;
}

#leadin-container .bottom-border{
    float: right;
    width: 12%;
    height: 0;
    border-top: 1px solid gray;
}

#leadin-container p{
    margin: 0.3em 0;
    padding: 0 0.4em;
    font-size: 0.7em;
    font-family: serif;
    color: gray;
}

/*nav*/

nav{
    display: block;
    margin-top: 10px;
}

nav ul{
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0 9.09%;
}

nav li{
    display: inline-block;
    text-align: center;
    width: 23%;
}

nav a {
    text-decoration: none;
    color: black; 
}

nav a:hover{
    text-decoration: underline;
}

.active{
    color: gray;
}



/* section */

section{
    margin-top: 15px;
    padding: 0 5%;
}

/*header*/

.section-header{
overflow-x: hidden;
}

.section-header .banniere{
    display: block;
    margin: 0 auto;
}

.section-header h1{
    display: block;
    text-align: center;
    font-size: 1.7em;
    margin: 0 0 0.5em 0;
}

.section-header h1::first-letter{
    text-transform: uppercase;
}

.section-header .text-intro{
    
    font-size: 1.1em;
}

.sub-banniere{
    float: right;
    width: 100%;
    margin-top: -45px;
    margin-right: -48%;
}

/*container*/

.section-content{
    line-height:1.5em;
}

h2{
    font-size: 1.3em;
    margin: 0.5em 0;
}

.column h2{
    text-indent: 3%;
}

.two-column{
    display: block;
}

/* footer*/

.page-footer{
    margin-top: 20px;
    padding-top: 20px;
    height: 50px;
    background-color: #C83737;
}

.page-footer p {
    margin:0;
    text-align: center;
    color: black;
}

.page-footer p a {
    color: black;
    margin: 0 2%;
}

/* Classes génériques */

.two-column h2{
        text-align: center;
    }

.border-underline{
    border-bottom: 2px solid #C83737;
    padding-bottom:4px;
}
.border-underline::after{
    display:block;
    content: "";
    border-bottom: 1px solid #C83737;
    width: 90%;
    margin: 0 auto;
}

.main-content{
    margin-top: 2px;
}

.mini-sigma{
    display: block;
    height: 250px;
}

figcaption{
    display: block;
    font-family: sans-serif, sans;
    margin-top: 1em;
    font-size: 0.9em;
    text-align: center;
    
}

.inline-list{
    display:inline;
    list-style:none;
    margin:0;
    padding:0;
}
.inline-list li{
    display:inline;
    padding-left:2px;
}
.inline-list li:after{
    content:",";
    position: relative;
    right:0.1em;
}
.inline-list li:last-child:after{
    content:".";
}

.info{
    padding: 1em;
    font-size:0.7em;
    font-family: sans;
    line-height: 1.2em;
}


.contact-body{
    margin: 0 auto;
    width: 88.88888%;  /**/
}

.contact-body .field{
    font-family: sans;
    font-size: 1em;
    margin-bottom: 1em;
}

.contact-body label{
    display: block;
}   


/*bd*/
.bd{ 
    display: block;
    margin-top: 10px;
    font-size: 0; 
}

.bd img{
    display : inline-block;
    vertical-align: top;
    padding: 1%;
    width : 47%;
}

.bd img:nth-child(2n+1){
    border-right: 2px black solid; 
}

.bd img:nth-child(1),.bd img:nth-child(2){
    border-bottom: 2px black solid; 
}

/* info blog*/

.info-blog-header{
    display: block;
    font-size: 0;
}

.date-blog{
    display: inline-block;
    font-size: 1rem;
    background-color: #C83737;
    width: 22.2222222%;
    margin: 0 3%;
}

.day-date{
    display: block;
    width: 100%;
    height: 1em;
    color: black;
    text-align: center;
    font-size: 3em;
}

.month-date,.year-date{
    font-size: 1em;
    display: block;
    text-align: center;
    
}

.info-blog h3{
    
    color: black;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1em;
    display: inline-block;
    width: 71.7777778%;
    vertical-align: 1.2em;
}

.info-blog h3:first-letter{
    text-transform: uppercase;
}

.info-blog img{
    float:left;
    width: 28.2222222%;
    margin : 0 1em 0 0
    }

.info-blog-p{
    margin:0;
}

.info-blog{
    margin: 20px 0 0 0;
    clear: both;
}
.info-blog:first-child{
    margin: 0;
}

/*figure img*/

figure img{
display:block;
margin: 0 auto;
}

/*comment*/
.comment{
    padding-top : 5%;
    font-family: serif;
    font-size:0.9em;
    text-align: center;
}

.comment svg{
    display: block;
    margin: 0 auto;
    width: 10%;
    height: auto;
}

.small-column{
    font-size: 0;
    display: block;
    margin: 20px 0 0 0 ;
}
.small-column svg{
    display: inline-block;
    width: 26.33333%;
    height: auto;
    margin: 0 3.5% ;
}



@media screen and (min-width: 360px){
    #logo{
	width: 163.6362px;
    }
    
    .bd{
        margin: 0 auto;
        max-width: 350px;
    }
}



@media screen and (min-width: 640px) {

    /* header */

    .page-header{
	width: 98%;
	margin: 3px auto 0;
    }

    .container-fibo{
	display: inline-block;
	width: 23.0769%; /*3/13*/
    }
    
    #logo{
	display:block;
	width:180px;
	max-width: 100%;
    }

    /*nav*/

    nav{
	display:block;
	position: absolute;
	top: 18px;
	margin: 0 0 0 23.0769% ; /* 10/13 */
	width: 73%;
    }

    nav ul{
	margin:0 auto;
	width: 90%;
	max-width: 800px;
    }

    /* lead-in*/
    #leadin-container{
	display: inline-block;
	margin:  0;
	position: relative;
	bottom:7px;
    }
    
    #leadin-container .triangle{
	position:relative;
	left: 5px;
	display: inline-block;
	vertical-align:top;
	margin:0;
	border-width:  5px 10px 5px 0;
	border-color: transparent grey transparent transparent;
    }

    #leadin-container .content{
	display: inline-block;
	margin: 0;
	border-left: 1px solid gray;
	border-right:none;
    }
    #leadin-container .top-border{
	display: none;
    }

    #leadin-container .bottom-border{
	float: left;
	width: 37%;
    }

    /* section */
    
    section{
	margin-top: 5px; 
	font-size:1.1em; 
    }
    
    /*header*/

    .section-header .banniere{
	width: 65.104%;
    }

       .section-header .sub-banniere{
           width: 65.104%;
           margin-right:-15.104%;
       }
 
    /*bd*/
    
    .bd{
        max-width: none;
    }
.bd img{
    width : 22%;
}
.bd img:nth-child(n){
    border-right: 2px black solid; 
    border-bottom: none;
}
.bd img:first-child{
    border-bottom: none;
}
.bd img:last-child{
    border: none; 
}

    /*info-blog*/
    
    .info-blog{
       width: 576px;
        margin: 30px auto 0 auto;
    }
    .info-blog:first-child{
    margin: 0 auto;
    }  
    
    .small-column{
        margin: 20px auto 0 auto;
        width: 576px;
    }
}


@media screen and (min-width:768px){
    #leadin-container{
	position:relative;
	left: calc(90px - 1.5/13 * 100%); /* pour ne pas s'éloingner du logo*/
    }

    /*section*/

    /*container*/

    .column,.two-column{
	width: 691.2px;
	margin:0 auto ;
    }
    .mini-sigma{
    height: 350px;
}


    
}

@media screen and (min-width: 1024px){
    /*section*/

    /*header*/
    section{
	font-size: 1.2em;
    }
    .section-header,.column-large{
        width: 921.6px;
        margin: 0 auto;
    }

    .section-header .sub-banniere{
        max-width:633.6px;
    }
    
    
    .column,.two-column p {
        font-size: 1em;
    }
    .column-large{
        font-size:0;
    }
    .two-column{
      width: 49%;
    }
    .big-column,.small-column,.two-column{
        display: inline-block;
        vertical-align: top;
        font-size:1.2rem;
    }
    .big-column{
        width: 691.2px;
    }
    .small-column{
        width: 230.4px;
    }
    .small-column svg{
        width:75%;
        display: block;
        margin: 20px auto 0 auto;
    }
        /*bd*/
    
  .bd-txt{
      width: 87.5%;
     float: right;
  }  
    
 .bd{
    float:left;
    width : 25%;
    margin-left: -15%;
     margin-top: 3rem;
    }
  
.bd img:nth-child(n){
    border-right: none;
}  
    
.bd img:nth-child(n){
  width :100%;
  border-bottom: 2px black solid;
}
.bd img:last-child{
    border-bottom: none;
}

/* info-blog*/

    .two-column .info-blog{
	width:100%;
    }   
    
}


footer{
        clear: both;
    }

/*contact*/



.send-box {
    display: block;
    width:100%;
}

.send-box .button{
    display: block;
    margin: 0 auto;
    position: relative;
    top: 76px;
    font-size: 0.78em;
     
}

.pissenlit{   
    display: block;
    margin: 0 auto;
    width:200px;
}
