
body{
    font-family: "Playfair Display", serif;
}

img{
    max-width : 100%;
}

p,span,div,nav,header,section,body,h1,h2{
    margin: 0;
    padding: 0;
    
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

/* header */

.page-header{
    display: block;
    padding-top: 5px;
}

#logo{
    display: block;
    margin: 0 auto;
    max-width: 45.4545%;
}

 /* lead-in*/
#leadin-container{
    margin: -7px 14.28% 0;
}

#leadin-container .triangle{
    margin: -1px auto;
    padding: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent grey transparent;
}

#leadin-container .content{
    display: table;
    margin: 0 auto;
    border-right: 1px solid gray;
}

#leadin-container .top-border{
    float: right;
    width: 50%;
    height: 1px;
    border-top: 1px solid gray;
}

#leadin-container .bottom-border{
    float: right;
    width: 12%;
    height: 0;
    border-top: 1px solid gray;
}

#leadin-container p {
    margin: 0.3em 0;
    padding: 0 0.4em;
    font-size: 0.7em;
}

   /*nav*/

nav{
    display: block;
    margin-top: 10px;
}

nav ul{
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0 9.09%;
}

nav li{
    display: inline-block;
    text-align: center;
    width: 23%;
}

nav a {
    text-decoration: none;
    color: black; 
}

nav a:hover{
    text-decoration: underline;
}

.active{
    color: gray;
}

/* Classes génériques */

.border-underline{
    border-bottom: 2px solid #DB162F;
    padding-bottom:4px;
}
.border-underline::after{
    display:block;
    content: "";
    border-bottom: 1px solid #DB162F;
    width: 90%;
    margin: 0 auto;
}

.main-content{
    margin-top: 2px;
}

.inline-list{
    display:inline;
    list-style:none;
    margin:0;
    padding:0;
}
.inline-list li{
    display:inline;
    padding-left:2px;
}
.inline-list li:after{
    content:",";
    position: relative;
    right:0.1em;
}
.inline-list li:last-child:after{
    content:".";
}

/* section */

/*header*/
section{
    margin-top: 15px;
}

.section-header{
    
}

.section-header .banniere{
    display: block;
    margin: 0 auto;
}

.section-header h1{
    display: block;
    text-align: center;
    font-size: 1.7em;
    margin: 0.7em 0;
}

/*container*/

.section-content{
    line-height:1.5em;
    padding: 0 5%;
}
.section-content h2{
    font-size: 1.3em;
    text-indent: 3%;
    margin: 0.5em 0;
}

.section-content p {
    margin-top: 0.9em; 
    font-size: 0.9em;
}


/* footer*/

.page-footer{
    margin-top: 20px;
    padding-top: 20px;
    height: 50px;
    background-color: #DB162F;
}

.page-footer p {
    text-align: center;
    color: black;
}

.page-footer p a {
    color: black;
    margin: 0 2%;
}