.title_admin{
    text-align:center;
    background-color: #81DAF5;
    text-shadow:1px 1px 1px #58D3F7;
    color:white;
}

p{
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

img{
    max-width:100%;
}


.print{
    font-size:0.8em;
}

#left>ul{
    margin:0;
    padding:0;
    font-size: 1.1em;
}

#left>ul>li{
    background-color: #B45F04;
    box-shadow: 2px 2px 2px #61380B;
    margin-bottom: 4px;
}

#left>ul>li>ul{
    list-style: none;
}
#left>ul>li>ul>li{
    background-color: #AEB404;
    font-size:0.8em;
    margin:2px;
    box-shadow: 1px 1px 2px #5E610B;
}
ul .inline_list{
    list-style: none;
    margin:0;
    padding:0;
}

ul .inline_list>li{
    float:left;
    background-color: #AEB404;
    font-size:0.8em;
    margin:2px;
    box-shadow: 1px 1px 2px #5E610B;
}


textarea, input{
    width:98%;
}

@media screen and (min-width: 768px){
    #left>ul>li{
        padding: 5%;
    }
    #left{
	display:inline-block;
	width:19%;
	vertical-align:top;
    }
    #right{
	display:inline-block;
	width:38%;
	vertical-align:top;
    }
    #center{
	display:inline-block;
	width:39%;
	vertical-align:top;
    }
}

@media screen and (min-width: 360px) and (max-width:768px){
    #left{
	display:block;
	width:100%;
    }
    
    #left>ul>li{
	   display: inline-block;
       vertical-align: top; 
        padding: 1%;
    }
    
    #right{
	display:inline-block;
	width:48%;
	vertical-align:top;
    }
    #center{
	display:inline-block;
	width:48%;
	vertical-align:top;
    }
}

@media screen and (max-width:360px){
    #left>ul>li{
        padding: 2%;
    }
    #left{
	display:block;
    }
    #right{
	display:block;
    }
    #center{
	display:block;
    }
}


#center{
    padding-left: 1%;
    padding-right: 1%;
}

#center div{
    margin-bottom: 8px;
    padding: 1%;
}

#title{
    background-color: #F78181;
    box-shadow: 2px 2px 2px #F5A9A9;
}
#cont{
    background-color: #F79F81;
    box-shadow: 2px 2px 2px #F79F81;
}
#dem{
    background-color: #F7BE81;
    box-shadow: 2px 2px 2px #F5D0A9;
}
#rem{
    background-color: #F5DA81;
    box-shadow: 2px 2px 2px #F3E2A9;
}
#ex{
    background-color: #F3F781;
    box-shadow: 2px 2px 2px #F3F781;
}
#exo{
    background-color: #C8FE2E;
    box-shadow: 2px 2px 2px #D0FA58;
}
#render_math{
    font-family: "Playfair Display";
}
