
body{
    font-family: "Playfair Display", serif;
}


p,span,div,nav,header,section,body,h1,h2,input,textarea{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

input[type=text],input[type=url],input[type=email],textarea{
    border: none;
    border-bottom: 1px grey solid;
}

input[type=submit],input[type=button]{
    font-family: sans;
    background: none;
    border: 1px solid black;
    cursor: pointer;
}

textarea{
    margin-top: 0.5em;
    border-left: 1px grey solid;
}

input,textarea,select,img{
    max-width : 100%;
}

/* header */

.page-header{
    display: block;
    padding-top: 5px;
}

#logo{
    display: block;
    margin: 0 auto;
    max-width: 45.4545%;
}

/* lead-in*/
#leadin-container{
    margin: -7px 14.28% 0;
}

#leadin-container .triangle{
    margin: -1px auto;
    padding: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent grey transparent;
}

#leadin-container .content{
    display: table;
    margin: 0 auto;
    border-right: 1px solid gray;
}

#leadin-container .top-border{
    float: right;
    width: 50%;
    height: 1px;
    border-top: 1px solid gray;
}

#leadin-container .bottom-border{
    float: right;
    width: 12%;
    height: 0;
    border-top: 1px solid gray;
}

#leadin-container p{
    margin: 0.3em 0;
    padding: 0 0.4em;
    font-size: 0.7em;
    font-family: serif;
    color: gray;
}

/*nav*/

nav{
    display: block;
    margin-top: 10px;
}

nav ul{
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0 9.09%;
}

nav li{
    display: inline-block;
    text-align: center;
    width: 23%;
}

nav a {
    text-decoration: none;
    color: black; 
}

nav a:hover{
    text-decoration: underline;
}

.active{
    color: gray;
}



/* section */

section{
    margin-top: 15px;
    padding: 0 5%;
}

/*header*/


.section-header .banniere{
    display: block;
    margin: 0 auto;
}

.section-header h1{
    display: block;
    text-align: center;
    font-size: 1.7em;
    margin-bottom: 0.5em;
}

.section-header h1::first-letter{
    text-transform: uppercase;
}

.section-header .text-intro{
    font-size: 1.1em;
}

/*container*/

.section-content{
    line-height:1.5em;
}

.section-content h2{
    font-size: 1.3em;
    text-indent: 3%;
    margin: 0.5em 0;
}

.section-content .p{
    margin-top: 0.9em;
    font-size: 0.9em;
}


/* footer*/

.page-footer{
    margin-top: 20px;
    padding-top: 20px;
    height: 50px;
    background-color: #DB162F;
}

.page-footer p {
    text-align: center;
    color: black;
}

.page-footer p a {
    color: black;
    margin: 0 2%;
}

/* Classes génériques */


.border-underline{
    border-bottom: 2px solid #DB162F;
    padding-bottom:4px;
}
.border-underline::after{
    display:block;
    content: "";
    border-bottom: 1px solid #DB162F;
    width: 90%;
    margin: 0 auto;
}

.main-content{
    margin-top: 2px;
}

.inline-list{
    display:inline;
    list-style:none;
    margin:0;
    padding:0;
}
.inline-list li{
    display:inline;
    padding-left:2px;
}
.inline-list li:after{
    content:",";
    position: relative;
    right:0.1em;
}
.inline-list li:last-child:after{
    content:".";
}

.info{
    padding: 1em;
    font-size:0.7em;
    font-family: sans;
    line-height: 1.2em;
}


.contact-body{
    margin: 0 auto;
    width: 88.88888%;  /**/
}

.contact-body .field{
    font-family: sans;
    font-size: 1em;
    margin-bottom: 1em;
}

.contact-body label{
    display: block;
}   



@media screen and (min-width: 360px){
    #logo{
	width: 163.6362px;
    }
}



@media screen and (min-width: 640px) {

    /* header */

    .page-header{
	width: 98%;
	margin: 3px auto 0;
    }

    .container-fibo{
	display: inline-block;
	width: 23.0769%; /*3/13*/
    }
    
    #logo{
	display:block;
	width:180px;
	max-width: 100%;
    }

    /*nav*/

    nav{
	display:block;
	position: absolute;
	top: 18px;
	margin: 0 0 0 23.0769% ; /* 10/13 */
	width: 76.923077%;
    }

    nav ul{
	margin:0 auto;
	width: 90%;
	max-width: 800px;
    }

    /* lead-in*/
    #leadin-container{
	display: inline-block;
	margin:  0;
	position: relative;
	bottom:7px;
    }
    
    #leadin-container .triangle{
	position:relative;
	left: 5px;
	display: inline-block;
	vertical-align:top;
	margin:0;
	border-width:  5px 10px 5px 0;
	border-color: transparent grey transparent transparent;
    }

    #leadin-container .content{
	display: inline-block;
	margin: 0;
	border-left: 1px solid gray;
	border-right:none;
    }
    #leadin-container .top-border{
	display: none;
    }

    #leadin-container .bottom-border{
	float: left;
	width: 37%;
    }

    /* section */
    
    section{
	margin-top: 5px; 
	font-size:1.1em; 
    }
    
    /*header*/

    .section-header .banniere{
	width: 55%;
    }

}


@media screen and (min-width:768px){
    #leadin-container{
	position:relative;
	left: calc(90px - 1.5/13 * 100%); /* pour ne pas s'éloingner du logo*/
    }

    /*section*/

    /*container*/

    .column{
	width: 691.2px;
	margin:0 auto ;
    }

    
}

@media screen and (min-width: 1024px){
    /*section*/

    /*header*/
    section{
	font-size: 1.2em;
    }
    .section-header .banniere{
	max-width:633.6px;
    }
    .section-header .text-intro{
	width: 921.6px;
	margin: 0 auto;
    }
    
    
}

/*contact*/

.send-box {
    display: block;
    width:100%;
}

.send-box .button{
    display: block;
    margin: 0 auto;
    position: relative;
    top: 76px;
}

.pissenlit{   
    display: block;
    margin: 0 auto;
    width:200px;
}
